*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: arial;
}

body {
  background-color: #111112;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
  font-size: clamp(0.5rem, 2.5vmin, 1.5rem);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/* *HEADER */
header{
    width: 100%;
    display: flex;
    justify-content: center;
}

header p{
  color:white;
}

/* *WORDS GRID */

.grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.words-row{
 display: flex;   
 flex-direction: row;
}

.tile{
    border: 1px solid #353535;
    width: 3em;
    height: 3em;
    margin: 0.1em;
}

/* *KEYBOARD */

.keyboard {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

.keyboard-row {
    display:flex;
    /* gap: 0.25em; */
    margin-bottom: 0.4em;
}

.key {
  font-size: inherit;
  border: 1px;
  margin: 0px 3px;
  padding: 0.8em;
  width: 2.7em;
    height: 2.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #818283;
  color: #ffffff;
  fill: #ffffff;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}

.key.large{
  width: 4.20em;
}

